@charset 'utf-8';
/* webfont */
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

@font-face {
    font-family: 'Gyeonggi_Batang_Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Batang_Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gyeonggi_Title_Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Title_Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: ;
}

body {
    font-family: 'Jeju Myeongjo', serif;
    font-size: 18px;
    line-height: ;
    color: rgb(0, 0, 0);
    background-color: #f2f8ff;
}

#wrap {
    min-width: 1360px;
}


#top {
    height: 850px;
    position: relative;
    overflow: hidden;
    color: white;
}


/* header */
#header {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -660px;
    z-index: 2;
    height: 120px;
    width: 1320px;
}

.util{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.util li a {
    display: block;
    margin: 0 10px;
}

.search_line {
    width: 70px;
    border-bottom: 1.7px solid rgb(229, 223, 206);
    /* margin-left: 5px; */
    margin-bottom: 3px;
}

.gnb {
    display: flex;
    justify-content: center;
    align-items: center;
}


.gnb li a {
    display: block;
    margin: 0 60px;
}


/* visiual */

#visual {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    margin-left: -960px;
    background-color: aqua;
    text-align: center;
}


#container1 .content{
    height: 480px;
    background-image: url(../images/main/hexagon/hexagon.png);
    background-position: center;
    background-repeat: no-repeat;
}

.typing-txt{
    font-size: 24px;
}

.inner_content{
    width: 1320px;
    height: 480px;
    margin: 0 auto;
    position: relative;
    color: rgb(114, 114, 114);
  
}

.stress{
    position: absolute;
    top: 182px;
    left: 190px;
    z-index: 99;
}

.skin{
    position: absolute;
    top: 375px;
    left: 510px;
}

.nature{
    position: absolute;
    top: 375px;
    left: 867px;
}


.typing-txt {
    display: none;
}

.honey {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 55px;
}

.honey h1 {
    color: #FF9602;
}

.honey .position {
    position: absolute;
    top: 30px;
    left: 420px;
}

.honey .right {
    margin-top: 100px;
    position: relative;
}

#container1 .honey .blur {
    position: absolute;
    z-index: -1;
    bottom: -100px;
    left: -250px
}

.milk {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.milk .position {
    position: absolute;
    top: 420px;
    right: 420px;
}

.milk .left {
    position: relative;
}


.milk h1 {
    color: #426AC0;
}

.milk .text_wrap {
    position: absolute;
    width: 500px;
    left: 100px;
    top: 100px;
}

#container1 .milk .blur {
    position: absolute;
    left: -380px;
    top: -100px;
    z-index: -1;
}

#container1 .title {
    /* background-image: url(../images/main/main_milk_splash.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 800px; */
    text-align: center;
    /* background-color: #fcfca8; */
    margin: 120px 0;
}

#container1 .title p {
    margin: 40px 0;
    line-height: 130%;
    font-size: 24px;
    color: #4A4A4A;
}

#container1 .title .blue {
    color: #13307f;
    font-size: 28px;
}


#container2 .title{
    text-align: center;
    margin: 130px 0 70px 0;
    font-size: 45px;
    color: rgb(87, 91, 133);
    font-family: "Unna", serif;
}

#container2 .content {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


#container2 .bg {
    text-align: center;
    padding-top: 200px;
    box-sizing: border-box;
    height: 314px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#container2 ul li {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container2 .bg1 {
    background-image: url(../images/main/treatment/main_treatment_1.png);
}

#container2 .bg2 {
    background-image: url(../images/main/treatment/main_treatment_2.png);
}

#container2 .bg3 {
    background-image: url(../images/main/treatment/main_treatment_3.png);
}

#container2 .bg4 {
    background-image: url(../images/main/treatment/main_treatment_4.png);
}


/* 성분 사진과 글자 잇는 세로줄 꾸미기 */
.line {
    margin: 20px 0;
    height: 70px;
    border-left: 1px solid rgb(160, 160, 160);
}

/* 성분 사진 밑 설명 글자 꾸미기 */
#container2 .content p {
    width: 182px;
    font-size: 16px;
    line-height: 115%;
    font-family: 'Gyeonggi_Batang_Regular';
    color: #717171;
}

/* 성분 사진 속 글자 꾸미기 */
#container2 strong {
    font-size: 20px;
    text-align: center;
    font-family: 'Gyeonggi_Title_Medium';
}

#container3 {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
}

#container3 ul {
    display: flex;
    justify-content: space-around;
}

#container3 ul li {
    background-color: chartreuse;
    width: 220px;
    height: 315px;
}

#container3 h2 {
    margin-top: 100px;
}


#container4 {
    background-image: url(../images/main/main_banner_blossom.png);
    height: 284px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 80px 0;
}


h2 {
    margin: 50px 0 40px 0;
    font-size: 30px;
}


.item {
    height: 350px;
    font-family: 'Pretendard-Regular';
    font-size: 15px;
    font-weight: 100;
}

.product {
    font-size: 15px;
}

.item .swiper {
    width: 100%;
    height: 95%;
    /* background-color: #426AC0; */
    overflow: hidden;
    padding-bottom: 50px;
}

.item .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    flex-direction: column;
    justify-content: flex-end;
}

.swiper-slide img {
    margin-bottom: 30px;
    /* background-color: #1C6CB8; */
}

/* .item .swiper {
    margin-left: auto;
    margin-right: auto;
}
 */


#container5 {
    text-align: center;
    width: 1320px;
    margin: 0 auto;

}


#container5 ul {
    display: flex;
}

#container5 ul li {
    position: relative;
    width: 50%;
}

.img_wrap img {
    display: block;
}

#container5 .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-family: "Bellefair", serif;
}

#container5 ul li:hover .cover{
    display: none;
}


/* footer */

#footer {
    background-color: #413e50;
    height: 150px;
}

.inner_footer {
    width: 1320px;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 15px;
    /* background-color: rgba(170, 114, 42, 0.312); */
    font-family: "Unna", serif;
    color: rgb(247, 247, 247);
    font-size: 16px;
}

.footer_link {
    display: flex;
    /* background-color: violet; */
    justify-content: center;
    font-family: 'Pretendard-Regular';
    font-size: 13px;
}

.sns {
    margin-top: 15px;
}

.sns img{
    margin-bottom: 5px;
}

.footer_link li a {
    display: block;
    margin: 0 10px;
}

.inner_footer .center {
    /* background-color: #1a1b17; */
    display: inline-block;
    margin-top: 20px;
}


.inner_footer .center h3 {
    font-size: 25px;
    margin-bottom: 10px
}

.inner_footer .right{
    text-align: right;
    margin-top: 15px;
    /* background-color: #426AC0; */
}


.inner_footer .right p {
    font-family: 'Pretendard-Regular';
    font-size: 13px;
    /* background-color: #f8b328; */
}